body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.flexible-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.half-width {
  width: 45%;
}
.half-width img {
  width: 100%;
}
.linked-button {
  text-decoration: none;
  background-image: linear-gradient(tomato, rgb(216, 75, 10));
  padding: 10px;
  color: white;
  font-weight: 400px;
  border-radius: 7px;
  margin-top: 8px;
}
#focus {
  border-left: 4px solid tomato;
  border-image-slice: 1;
  padding-left: 10px;
  font-size: 25px;
}
#mission-item-1 {
  background-color: #edf5f6;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
}
#mission-item-2 {
  background-color: #ffeeee;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
}
#mission-item-3 {
  background-color: #fff4d6;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
}
.develop-without-limit {
  margin-top: 100px;
  padding-left: 50px;
  background-image: url(images/shapes/half-circle.png);
  background-repeat: no-repeat;
  background-position: left;
}
.know-global-community {
  margin: 80px;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20%;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
.contact-form {
  background-color: rgba(233, 233, 233, 0.623);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.orange {
  color: orangered;
}
.contact-me {
  text-align: center;
  background-image: linear-gradient(rgb(13, 224, 224), rgb(192, 233, 10));
  border-radius: 100px;
  padding: 10px;
  font-size: 30px;
}
